@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: Poppins, sans-serif;
  }
}

:root {
  @apply scroll-smooth;
  --bug: #a7b723;
  --dark: #75574c;
  --dragon: #7037ff;
  --electric: #f9cf30;
  --fairy: #e69eac;
  --fighting: #c12239;
  --fire: #f57d31;
  --flying: #a891ec;
  --ghost: #70559b;
  --normal: #aaa67f;
  --grass: #74cb48;
  --ground: #dec16b;
  --ice: #9ad6df;
  --poison: #a43e9e;
  --psychic: #fb5584;
  --rock: #b69e31;
  --steel: #b7b9d0;
  --water: #6493eb;
}

.legendaries {
  background: rgb(249, 223, 123);
  background: linear-gradient(
    0deg,
    rgba(249, 223, 123, 1) 0%,
    rgba(181, 126, 16, 1) 100%
  );
}

.grass {
  background: var(--grass);
  /* border: 2px solid var(--grass);
  color: var(--grass); */
}

.bug {
  background: var(--bug);
  /* border: 2px solid var(--bug);
  color: var(--bug); */
}

.dark {
  background: var(--dark);
  /* border: 2px solid var(--dark);
  color: var(--dark); */
}

.dragon {
  background: var(--dragon);
  /* border: 2px solid var(--dragon);
  color: var(--dragon); */
}

.electric {
  background: var(--electric);
  /* border: 2px solid var(--electric);
  color: var(--electric); */
}

.fairy {
  background: var(--fairy);
  /* border: 2px solid var(--fairy);
  color: var(--fairy); */
}

.fighting {
  background: var(--fighting);
  /* border: 2px solid var(--fighting);
  color: var(--fighting); */
}

.flying {
  background: var(--flying);
  /* border: 2px solid var(--flying);
  color: var(--flying); */
}

.ghost {
  background: var(--ghost);
  /* border: 2px solid var(--ghost);
  color: var(--ghost); */
}

.ground {
  background: var(--ground);
  /* border: 2px solid var(--ground);
  color: var(--ground); */
}

.ice {
  background: var(--ice);
  /* border: 2px solid var(--ice);
  color: var(--ice); */
}

.normal {
  background: var(--normal);
  /* border: 2px solid var(--normal);
  color: var(--normal); */
}

.poison {
  background-color: var(--poison);
  /* border: 2px solid var(--poison);
  color: var(--poison); */
}

.psychic {
  background: var(--psychic);
  /* border: 2px solid var(--psychic);
  color: var(--psychic); */
}

.rock {
  background: var(--rock);
  /* border: 2px solid var(--rock);
  color: var(--rock); */
}

.steel {
  background: var(--steel);
  /* border: 2px solid var(--steel);
  color: var(--steel); */
}

.water {
  background: var(--water);
  /* border: 2px solid var(--water);
  color: var(--water); */
}

.fire {
  background: var(--fire);
  /* border: 2px solid var(--fire);
  color: var(--fire); */
}

.card-grass {
  /* background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, var(--grass) 100%); */
  /* border: 2px solid var(--grass); */
  background: var(--grass);
}

.card-bug {
  background: var(--bug);
  /* border: 2px solid var(--bug);
  color: var(--bug); */
}

.card-dark {
  background: var(--dark);
  /* border: 2px solid var(--dark);
  color: var(--dark); */
}

.card-dragon {
  background: var(--dragon);
  /* border: 2px solid var(--dragon);
  color: var(--dragon); */
}

.card-electric {
  background: var(--electric);
  /* border: 2px solid var(--electric);
  color: var(--electric); */
}

.card-fairy {
  background: var(--fairy);
  /* border: 2px solid var(--fairy);
  color: var(--fairy); */
}

.card-fighting {
  background: var(--fighting);
  /* border: 2px solid var(--fighting);
  color: var(--fighting); */
}

.card-flying {
  background: var(--flying);
  /* border: 2px solid var(--flying);
  color: var(--flying); */
}

.card-ghost {
  background: var(--ghost);
  /* border: 2px solid var(--ghost);
  color: var(--ghost); */
}

.card-ground {
  background: var(--ground);
  /* border: 2px solid var(--ground);
  color: var(--ground); */
}

.card-ice {
  background: var(--ice);
  /* border: 2px solid var(--ice);
  color: var(--ice); */
}

.card-normal {
  background: var(--normal);
  /* border: 2px solid var(--normal);
  color: var(--normal); */
}

.card-poison {
  background-color: var(--poison);
  /* border: 2px solid var(--poison);
  color: var(--poison); */
}

.card-psychic {
  background: var(--psychic);
  /* border: 2px solid var(--psychic);
  color: var(--psychic); */
}

.card-rock {
  background: var(--rock);
  /* border: 2px solid var(--rock);
  color: var(--rock); */
}

.card-steel {
  background: var(--steel);
  /* border: 2px solid var(--steel);
  color: var(--steel); */
}

.card-water {
  background: var(--water);
  /* border: 2px solid var(--water);
  color: var(--water); */
}

.card-fire {
  background: var(--fire);
  /* border: 2px solid var(--fire);
  color: var(--fire); */
}

.path {
  clip-path: circle(82.5% at 51% 0);
}
